.footer {
  justify-content: space-between;
  padding: 0 32px;
  height: 56px;
  background-color: #0f172a;
  border-top: 1px solid #1e2d3d;
  &__link {
    padding: 0 17px;
    height: 100%;
    border-right: 1px solid #1e2d3d;
    border-left: 1px solid #1e2d3d;
    path {
      color: #ffffff67;
    }
  }
  &__right-box {
    display: flex;
    padding-left: 20px;
    border-left: 1px solid #1e2d3d;
  }
}
@media (max-width: 934px) {
  .footer {
    padding: 0 0 0 15px;
    &__left-box {
      justify-content: space-between;
      width: 100%;
    }
    &__right-box {
      display: none;
    }
    &__link {
      border-right: none;
    }
  }
}
